name: Build IPA
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - name: Create IPA
        run: |
          mkdir -p Payload
          mv build/ios/iphoneos/Runner.app Payload
          zip -r app.ipa Payload
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: music-app-ipa
          path: app.ipa
